* {
       margin: 0;
       padding: 0;
       font-family: "Roboto", sans-serif;
}

/* ---------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

* {
       margin: 0;
       padding: 0;
       font-family: 'Roboto', sans-serif;
}

.container {
       width: 65%;
       margin: auto;
       padding: 0 10px;
}

button {
       transition-duration: 300ms;
       cursor: pointer;
}

/* yellow button */
.yl_btn {
       line-height: 16.9px;
       font-size: 18px;
       /* font-weight: 600; */
       border-radius: 4px;
       background: #000;
       padding: 10px;
       border: none;
       text-align: left;
       color: white;
}

.yl_btn:hover {
       cursor: pointer;
       filter: brightness(80%);
}

/* !---------| Media Query |----------------------- */


@media screen and (max-width: 992px) {
       .container {
              width: 80%;
       }
}

@media screen and (max-width: 768px) {
       .container {
              width: 90%;
       }

       .dashboard_container {
              flex-direction: column;
       }

       .dashboard_container>div:nth-child(1) {
              width: 90%;
       }

       .dashboard_container>div:nth-child(2) {
              width: 90%;
       }
}

@media screen and (max-width: 576px) {
       .container {
              width: 90%;
       }

       .dashboard_container {
              flex-direction: column;
       }

       .dashboard_container>div:nth-child(1) {
              width: 90%;
       }

       .dashboard_container>div:nth-child(2) {
              width: 90%;
       }
}

/* ---------------------------------------------- */
.dashboard_container {
       width: 83%;
       display: flex;
       justify-content: space-between;
       margin: 20px auto;
       /* border: 1px solid blue; */
}

.dashboard_container>div:nth-child(1) {
       width: 25%;
       /* height: 100vh; */
       display: flex;
       flex-direction: column;
       gap: 10px;
       /* border: 1px solid red; */
}

.dashboard_container>div:nth-child(1)>form {
       display: none;
       flex-direction: column;

}

.dashboard_container>div:nth-child(1)>form>input,
.dashboard_container>div:nth-child(1)>form>select {
       padding: 10px;
       font-size: 20px;
       border: 1px solid #565758;
       border-radius: 4px;
       outline: none;
       background-color: white;
}

.dashboard_container>div:nth-child(1)>form>h2 {
       border-bottom: 1px solid grey;
       margin: 20px 0;
}

.dashboard_container>div:nth-child(1)>form>input[type='submit'],
input[type='submit'] {
       margin-top: 10px;
       background: #000;
       color: white;
       border-radius: 4px;
}

input[type='submit']:hover,
button:hover {
       cursor: pointer;
       filter: brightness(80%);
}

.dashboard_container>div:nth-child(1)>form>label {
       font-size: 20px;
       margin: 10px 0;
       font-weight: 400;
}

/* right - product section */

.dashboard_container>div:nth-child(2) {
       /* border: 1px solid green; */
       height: 83vh;
       overflow-y: scroll;
       width: 70%;
       display: flex;
       flex-direction: column;
       gap: 10px;
       padding: 20px;
}

.products {
       display: flex;
       height: 300px;
       margin: 30px 0;
       padding: 15px;
       border-radius: 8px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.products>div:nth-child(1) {
       /* width: 20%; */
       /* border: 1px solid red; */
       display: flex;
       align-items: center;
       padding: 0px 50px;
}

.products>div:nth-child(1)>img {
       /* width: 100%; */
       height: 200px;
}

.products>div:nth-child(2) {
       padding-left: 20px;
       width: 80%;
       display: flex;
       justify-content: center;
       flex-direction: column;
       gap: 15px;
}

.remove {
       width: 20%;

}

#products_wrapper input {
       border: none;
}

#title{
       font-size: 22px;
       font-weight: 600;
}

#products_wrapper span, #descr{
       font-size: 15px;
}

#price{
       font-size: 18px;
       font-weight: 500;
}

.product_btn {
       border: none;
       width: 80px;
       text-align: center;
}

/* data table */

table {
       /* font-family: Arial, Helvetica, sans-serif; */
       border-collapse: collapse;
       width: 60%;
       margin: auto;
       margin-top: 50px;
       text-align: center;
}

table td,
table th {
       border: 1px solid #ddd;
       padding: 8px;
       text-align: center;
}

table tr:nth-child(even) {
       background-color: #f0f0f0c0;
}

table tr:hover {
       background-color: #ddd;
}

table th {
       padding-top: 12px;
       padding-bottom: 12px;
       text-align: left;
       background-color: #000;
       color: white;
       text-align: center;
}


/* search input */
.top_nav_input {
       width: 30%;
       border-radius: 4px;
       display: flex;
       align-items: center;
       background-color: white;
       padding: 3px;
       margin: 50px auto;
       border: 1px solid #000;
}

.top_nav_input>input {
       width: 90%;
       padding: 10px 0px 10px 10px;
       border-radius: 4px;
       border: none;
}

.top_nav_input>input:focus {
       outline: none;
}

.top_nav_input>svg {
       /* border: 1px solid red; */
       color: grey;
       width: 15px;
       height: 15px;
       margin-left: 17px;
       color: #000;
}

#user_data_table {
       display: none;
}


/* order table */

#order_details_table{
       display: none;
}